@import compass/reset
@import compass/css3
@import mixin
@import extend

body
	font-family: helvetica,'LiHei Pro','Heiti TC','微軟正黑體'

.header
	height: 75px
	width: 100%
	position: absolute
	z-index: 10
	.logo
		+bg(logo,png)
		background-size: 345px 55px
		@extend %wh-logo
		display: block
		position: absolute
		top: 10px
		left: 10px
		@extend %bg-ie
		.logo-ie8
			@extend %wh-logo
			@extend %display-ie
	.logo-cht
		+bg(logo-cht,png)
		background-size: 235px 60px
		@extend %wh-logo-cht
		display: block
		position: absolute
		top: 7px
		right: 10px
		@extend %bg-ie
		.logo-cht-ie8
			@extend %wh-logo-cht
			@extend %display-ie

.nav
	position: fixed
	right: 0
	top: 50%
	margin-top: -185px
	z-index: 100
	li
		width: 85px
		height: 85px
		display: block
		margin: 10px
		cursor: pointer
		+bg(icon-nav,png)
		+border-radius(50%)
		background-color: rgba(0,0,0,0.8)
		&.toGames
			background-position: 0 0
		&.toDevices
			background-position: 0 -85px
		&.toDownload
			background-position: 0 -170px
		&.toTop
			background-position: 0 -255px
			background-color: rgba(65,177,17,0.8)

section
	width: 100%
	height: 100vh
	position: relative
	h2
		font-size: 55px
		font-weight: bold
		color: #fff
		position: relative
		z-index: 5
	&.block-base
		overflow: hidden
		position: fixed
		+bg(bg-blk01,jpg)
		+background-size(cover)
		@extend %block
		.game-hand
			+bg(game-hand,png)
			background-position: center bottom
			background-size: auto 100%
			height: 60%
			width: 100%
			position: absolute
			bottom: 0
			min-height: 450px
		.game-wall
			@extend %blk-bg
	&.block-01
		@extend %block
		top: 0		
		h2
			padding-top: 160px
			padding-bottom: 40px
		.main-btn a
			@extend %main-btn
		.gradient-mask
			position: absolute
			height: 100px
			width: 100%
			bottom: 0
			+linear-gradient(rgba(14,116,159,0),rgba(0,65,90,0.8))
	&.block-02
		background: #ebebeb
		z-index: 10
		@extend %block
		h2
			padding-top: 160px
			padding-bottom: 40px
			color: #00b99d
		.main-btn a
			@extend %main-btn
			background-color: rgba(0,129,109,0.6)
		.blk02bg
			@extend %blk-bg
			&.bg01
				+bg(ws,png)
				height: 100%
				@extend %bg-c
			&.bg02
				+bg(4colors,png)
				height: 120%
				margin-top: -70px
				@extend %bg-c
		.dvcs
			+bg(devices,png)
			position: relative
			width: 100%
			height: 628px
			margin-top: -170px
			@extend %bg-c
	&.block-03.darken
		background-color: rgba(0,0,0,0.5)
		+transition(1s)

.dvc-mask
	display: none
	position: fixed
	width: 100%
	height: 100%
	left: 0
	top: 0
	z-index: 200


.devices 
	width: 1100px
	left: 50%
	margin-left: -550px
	padding: 10px 0 0 0
	position: absolute
	top: 150px
	background-color: #fff
	border-radius: 5px
	z-index: 250
	box-shadow: 0 1px 2px rgba(0,0,0,0.5)
	display: none
	.close
		width: 40px
		height: 40px
		position: absolute
		top: -15px
		right: -15px
		background: url(../img/icon-close.png) 0 0 no-repeat
		cursor: pointer
	li
		width: 16.6%
		margin: 0
		padding: 10px 0
		text-align: center
		display: inline-block
		vertical-align: top
	li:last-child
		width: 17%
	ol
		border-top: 1px #acacac solid
		padding: 10px 0 10px 15%
		margin: 10px 0
		width: 85%
		li
			display: block
			font-size: 13px
			line-height: 23px
			color: #666
			width: 100%
			padding: 0
			margin: 0
			text-align: left
			list-style-type: disc
			white-space: nowrap

	


.app-donload
	position: relative
	z-index: 5
	width: 700px
	margin: auto
	padding-top: 100px
	color: #fff
	text-align: center
	h2
		font-size: 40px
		line-height: 110px
		font-weight: bold
		img
			float: left
			margin-right: 10px
	.store
		width: 100%
		position: relative
		margin-top: 30px
	.store-apple
		@extend %store-icon
		margin-bottom: 5px
		img
			@extend %wh100
	.store-android
		@extend %store-icon
		img
			@extend %wh100
	.store-hami
		background-color: #000
		background-color: rgba(0,0,0,0.6)
		overflow: hidden
		width: 330px
		height: 233px
		position: absolute
		top: 0
		right: 0
		+border-radius(5px)
		.qrcode
			margin: 25px auto 0
			display: block

/* media queries */

@mixin breakpoint($point)  
	@if $point == pc  
		@media only screen and (max-width: 1024px)  
			@content   
	@else if $point == pad   
		@media only screen and (max-width: 768px)    
			@content
	@else if $point == pad-l   
		@media only screen and (max-width: 568px)    
			@content   
	@else if $point == mobile   
		@media only screen and (max-width: 360px)     
			@content   

@include breakpoint(pad)
	.app-donload
		margin: 150px auto 0
@include breakpoint(pad-l)
	.header
		.logo
			background-size: 60%
			background-position: 3px center
			height: 60px
		.logo-cht
			width: 40%
			height: 60px
			background-size: 100%
			background-position: right center
		.app-donload
			width: 550px
			margin-top: 50px
			h2
				font-size: 29px
			.store
				margin-top: 10px
			.store-hami .qrcode
				display: none
			.store-apple, .store-android, .store-hami
				width: 100%
				height: 100px
			.store-apple img, .store-android img
				width: auto
			.store-hami
				position: relative
				display: block
				margin-top: 5px
				margin-bottom: 50px
				img
					margin-top: 18px
	.app-donload 
		width: 550px
		margin-top: 50px
		h2 
			font-size: 29px
		.store 
			margin-top: 10px
		.store-hami .qrcode 
			display: none
		.store-apple, .store-android, .store-hami 
			width: 100%
			height: 100px
		.store-apple img, .store-android img 
			width: auto
		.store-hami 
			position: relative
			display: block
			margin-top: 5px
			margin-bottom: 50px
			img 
				margin-top: 18px
	.devices
		text-align: center
		li
			img
				width: 94%
				margin: 0 3%
		ol
			border: 0px
			width: 98%
			margin: 0
			padding: 0 0 0 2%
			li
				width: 100%
				font-size: 8px
				line-height: 15px
	
@include breakpoint(mobile)
	.nav
		bottom: 0
		margin-top: 0px
		z-index: 100
		width: 100%
		top: initial
		li
			width: $p100 / 3
			height: 60px
			display: inline-block
			margin: 0px
			float: left
			background-size: 60px 240px
			+border-radius(0)
			background-color: rgba(0,0,0,0.9)
			&.toGames
				background-position: center 0
			&.toDevices
				background-position: center -60px
			&.toDownload
				background-position: center -120px
			&.toTop
				display: none
	.header
		.logo
			width: 90%
			background-size: 85%
			background-position: center
		.logo-cht
			display: none 
	section
		h2
			font-size: 45px
			line-height: 60px
			width: 250px
			margin: auto
		&.block-base
			overflow: hidden
			.game-wall
				width: 160%
				left: -30%
			.game-hand
				height: 55%
				min-height: 55%
		&.block-01
			h2
				padding-top: 110px
				padding-bottom: 25px
			.main-btn a
				width: 220px
				height: 70px
				line-height: 70px
				font-size: 25px
		&.block-02
			h2
				padding-top: 110px
				padding-bottom: 25px
			.main-btn a
				width: 220px
				height: 70px
				line-height: 70px
				font-size: 25px
			.dvcs
				height: 30%
				margin-top: -30px
			.blk02bg
				&.bg02
					margin-top: 0px
	.app-donload 
		width: 310px
		margin-top: 0px
		padding-top: 50px
		h2 img 
			width: 80px
		h2 
			font-size: 24px
			text-align: left
			line-height: 40px	
	.devices
		text-align: center
		li,li:last-child
			width: 33%
		ol
			width: 95%
			padding: 0 0 0 5%
		ol
			li
				width: 100%
				font-size: 7.5px
				line-height: 12px